.list-item-value {
	float: left;
}
.list-item-history {
	float: right;
}
.list-item-remove {
	float: right;
	margin-right: 5px;
}
.list-group-item {
	width: 100%;
}
.list-group-item p {
	display: inline-block;
}
.assign-list {
	width: 100%;
}
div.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
div.col {
	padding: 0 10em 0 10em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
}

div.col.grow {
	flex-grow: 2;
}