.list-item-value {
	float: left;
}
.list-item-history {
	float: right;
}
.list-item-remove {
	float: right;
	margin-right: 5px;
}
.list-group-item {
	width: 100%;
}
.list-group-item p {
	display: inline-block;
}
.assign-list {
	width: 100%;
}
div.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}
div.col {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}

.adminContainer {
	padding: 1em;
}

.center {
	text-align: center;
}

.saveButton {
	margin: 0 auto;
}