#lightbox {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.9);
	display: flex;
	align-items: center;
	justify-content: center;
}

#lightbox-content {
	display: flex;
	overflow: auto;
	max-width: 80%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#lightbox-image {
	align-content: center;
}

#lightbox-caption {
	color: white;
	text-align: center;
}

.lightbox-hidden {
	display: none !important;
}

.lightbox-close {
  position: fixed;
  color: #aaa;
  top: 0em;
  right: 0.25em;
  font-size: 2em;
  font-weight: bold;
}