.contentContainer {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}
.ril__toolbar {
  display: none !important;
}
.item {
  flex: 0 0 auto;
  margin: 0px;
}
.itemimage {
  width: 100px;
  height: 100px;
  display: block;
}
@media	only screen and (max-device-width: 480px) or (min-width: 2000px) {
	.itemimage {
		width: 200px;
    height: 200px;
	}
}